<div class="row">
  <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1">
    <div class="form-group">
      <label for="inputTypeName">{{ 'page.app.typename.label.inputname' | translate }}</label>
      <input class="form-control" type="text" ng-model="name" id="inputTypeName" />
    </div>
  </div>
</div>

<div class="row text-center">
  <button class="btn btn-primary" ng-disabled="!name || !name.length" type='button' ng-click='save(name)'>{{ 'page.app.typename.button.save' | translate }}</button>
</div>