<div class="row">
  <div class="col-sm-4">
    <a href ui-sref="app.typename">
      <div class="thumbnail">
        <img src>

        <div class="caption">
          <h3>{{ 'page.home.app.typename.title' | translate }}</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href ui-sref="app.loadpic">
      <div class="thumbnail">
        <img src>

        <div class="caption">
          <h3>{{ 'page.home.app.loadpic.title' | translate }}</h3>
        </div>
      </div>
    </a>
  </div>

  <div class="col-sm-4">
    <a href ui-sref="app.feed">
      <div class="thumbnail">
        <img src>

        <div class="caption">
          <h3>{{ 'page.home.app.feed.title' | translate }}</h3>
        </div>
      </div>
    </a>
  </div>
</div>